{% extends '_base.html' %}

{% block title %}Af board{% endblock title %}

{% block content %}
<h2 xmlns="http://www.w3.org/1999/html">Ads board</h2>
<br>
{% for ad in ads_list %}
<div class="card" style="width: 60rem;">
    <div class="card-header">
        <span class="font-weight-bold ">{{ ad.category }} </span> &middot;
        <span class="text-muted">by {{ ad.author }} | {{ ad.date|date:'d-m-Y' }}</span>
    </div>
    <div class="card-body">
        <span class="card-title">{{ ad.title }}</span>
        {{ ad.content_upload|safe|truncatewords_html:50 }}

        <br>
        <a href="{{ ad.get_absolute_url }}" class="btn btn-primary">Read next</a>

    </div>
    <div class="card-footer text-muted">
        {% for rep in ad.reply_set.all %}
        <p>
            <span class="font-weight-bold">
                {{ rep.author }} &middot;
            </span>
            {{ rep }}
        </p>
        {% endfor %}
    </div>
</div>
<br>
{% endfor %}
{% endblock content %}