{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Replays{% endblock title %}

{% block content %}
<br>
<h2>Replays</h2>
<form metod="GET">
    {{ filterset.form|crispy }}
    <button class="btn btn-primary" type="submit">Find</button>
</form>
<hr>
{% for rep in rep_list %}
<div class="card">
    <div class="card-header">
        <span class="text-muted">by {{ rep.author }} &middot; {{ rep.date|date:'d-m-Y' }} |
            {{ rep.advertise  }} </span>
    </div>
    <div class="card-body">
        <p class="font-weight-bold ">{{ rep.reply }} </p>

        <br>
        {% if rep.is_accept %}
        <a class="btn btn-success disabled" aria-disabled="true">Accecpt reply</a>
        <a class="btn btn-danger disabled" aria-disabled="true">Reject reply</a>
        {% else %}
        <a class="btn btn-success" href="{% url 'reply_accept' rep.pk %}">Accecpt reply</a>
        <a class="btn btn-danger" href="{% url 'reply_delete' rep.pk %}">Reject reply</a>
        {% endif %}
    </div>
</div>
<br>
{% endfor %}

{% endblock content %}
